<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="git" type="System.Configuration.AppSettingsSection"/>
    <section name="hg" type="System.Configuration.AppSettingsSection"/>
  </configSections>

  <git>
    <add key="executable" value="c:\path\to\git.exe"/>
    <add key="remote" value="https://github.com"/>
    <add key="workingDirectory" value="."/>
    <add key="checkout" value="checkout"/>
    <add key="updateRemote" value="remote update"/>
    <add key="pull" value="pull"/>
    <add key="push" value="push"/>
    <add key="fetch" value="fetch"/>
    <add key="clone" value="clone"/>
    <add key="newBranch" value="checkout -b"/>
    <add key="hardReset" value="reset --hard"/>
    <add key="headHash" value="rev-parse HEAD"/>
  </git>

  <!-- Git equivalents based on https://www.mercurial-scm.org/wiki/GitConcepts -->
  <hg>
    <add key="executable" value="c:\path\to\hg.exe"/>
    <add key="remote" value="https://bitbucket.com"/>
    <add key="workingDirectory" value="."/>
    <add key="checkout" value="checkout"/>
    <add key="updateRemote" value="remote update"/>
    <add key="pull" value="pull"/>
    <add key="push" value="push -r ."
    <add key="fetch" value="fetch"/>
    <add key="clone" value="clone"/>
    <add key="newBranch" value="checkout -b"/>
    <add key="hardReset" value="reset --hard"/>
    <add key="headHash" value="rev-parse HEAD"/>
  </hg>
</configuration>